@font-face {
    font-family: "BrookeS8";
    src: url(../fonts/BrookeS8/BrookeS8.ttf) format("truetype");
}

@font-face {
    font-family: "CarnevaleeFreakShow";
    src: url(../fonts/CarnevaleeFreakShow/CarnevaleeFreakShow.ttf) format("truetype");
}

@font-face {
    font-family: "LoveSweets";
    src: url(../fonts/LoveSweets/LoveSweets.ttf) format("truetype");
}

@font-face {
    font-family: "PassionTea";
    src: url(../fonts/PassionTea/PassionTea.ttf) format("truetype");
}

@font-face {
    font-family: "Enso";
    src: url(../fonts/Enso/enso.ttf) format("truetype");
}

@font-face {
    font-family: "MankSans";
    src: url(../fonts/MankSans/MankSans.ttf) format("truetype");
}

body{ 
	font-family: "MankSans";
	padding-bottom: 30px;
	padding-top: 70px; 
	background-color: #f2eee5;
}

h1, h2, h3, h4, h5, h6{
    font-family: "CarnevaleeFreakShow";
}

.btn-default{
color: #efebe0;
text-align: center;
background-color: #78a6a4;
border-color: #78a6a4;
}

.btn-default:hover{
color: #efebe0;
text-align: center;
background-color: #78a6a4;
border-color: #78a6a4;
}

.footer{
background-color: #251313;
color: #efebe0;
}

.footer-a{
color: #78a6a4;
text-decoration: none;
}

.footer-a:hover{
color: #78a6a4;
text-decoration: none;	
}

.header{
	padding: 20px 0;
}

.logo{
	width: 50px;
}

.navbar-social-phone{
	display: none;
}

/*Estilos para el menú*/

	.navbar-toggle{
		border: none;
	}

	.navbar-inverse .navbar-toggle:hover, 
	.navbar-inverse .navbar-toggle:focus{
		background: transparent;
	}

.navbar-inverse {
    margin: 0!important;
    border: 0!important;
	background-color: #251313;
}

.navbar-inverse .navbar-nav > li > a {
    color: #efebe0;  
    font-family: "CarnevaleeFreakShow";
    padding: 20px 10px;
    border-bottom: 4px solid #efebe0;
    transition: all .3s; 
}

.navbar-inverse  .navbar-nav > li > a:hover{
    color: #78a6a4;
    border-bottom: 4px solid #78a6a4;
}
	.navbar-social-pc > li > a{
		font-size: 30px;
		padding: 15px 10px!important;
	}

	.navbar-social-pc > li > a:hover{
		border-bottom: 4px solid transparent!important;
	}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: transparent;
	border: none;
}

/*Fin estilos para el menú*/


.scroll-up{
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.img-article{
	height: 30%;
	width: 30%;
}

.indicador{
	color: #efebe0;
	text-align: center;
}
.indicador-azul{
	background-color: #78a6a4;
}
.indicador-rojo{
	background-color: #cb2f33;
}
.indicador-amarillo{
	background-color: #c8a418;
}

.panel-header{
	background-color: #251313;
	color: #efebe0;  
	font-family: "CarnevaleeFreakShow";
	text-align: center;
}
.panel-header:hover{
    color: #78a6a4;
    border-bottom: 4px solid #78a6a4;
}

@media (max-width: 1199px){

	.navbar-inverse .navbar-nav > li > a {
	    padding: 15px 5px;
	}

	.navbar-social-pc > li > a{
		padding: 10px 5px!important;
	}
	
}

@media (max-width: 991px){

	.navbar-inverse .navbar-nav > li > a {
	    padding: 15px 5px;
	    font-size: 10px;
	}

	.navbar-social-pc > li > a{
		padding: 13px 5px!important;
		font-size: 20px!important;
	}
	
}

@media (max-width: 767px){

	.logo{
		width: 250px;
	}

	.navbar-inverse .navbar-nav > li > a {
	    font-size: 20px;
	}

	.navbar-social-pc{
		display: none;
	}

	.navbar-social-phone{
		display: inline-block;
	}

	.navbar-social-phone li{
    	list-style: none;
    	display: inline-block;
    	margin-top: 12px;
    }

    .navbar-social-phone li a{
    	color: #FFF;
    	text-decoration: none;
    	font-size: 20px;
    	padding: 15px 10px!important;
    }
}